:root {
  --essentials-tab-icons-size: 30px;
  --pinned-tab-icons-size: 26px;
  --normal-tab-icons-size: 26px;
}

.tabbrowser-tab[selected="true"] .tab-background {
  box-shadow: none !important;
}

.tabbrowser-tab[selected="true"] .tab-label {
  font-weight: 600 !important;
}

.tabbrowser-tab[pending="true"] {
  opacity: 0.5;
}

.tabbrowser-tab .tab-icon-image[pending="true"] {
  filter: grayscale(1);
}

.tabbrowser-tab[zen-essential="true"] {
  --size: var(--essentials-tab-icons-size);

  .tab-throbber {
    transform: scale(calc(var(--size) / 16px)) !important;
  }
}

.tabbrowser-tab[pinned]:not([zen-essential="true"]) {
  --size: var(--pinned-tab-icons-size);
}

.tabbrowser-tab:not([pinned]):not([zen-essential="true"]) {
  --size: var(--normal-tab-icons-size);
}

.tabbrowser-tab {
  .tab-icon-image,
  .tab-sharing-icon-overlay,
  .tab-icon-overlay {
    height: var(--size) !important;
    width: var(--size) !important;
  }
}
